body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  background-color: #06638e;
  overflow: hidden;
  padding: lem;

}

li {
  display: inline;

}
li a{
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  padding: 1em;


}

li a:hover {
  background-color: #a7e6c6;
}
nav {
  margin-bottom: 3em;
}

body {
  background-color: #819290; 
  color: #1a2927;
  text-align: center;
  font-size: large;
}
 
header {
  background-color: #9dc8c6;
  img {
    height: 200px;
  }
  padding-top: 1em;
  padding-bottom: 1em;

}